@inherits LayoutComponentBase

@*<div class="sidebar" style="position:fixed;z-index:1200">
    <NavMenu />
</div>*@

<div class="main">
    <div class="top-row px-4" style="z-index:1111;padding-top:0px">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>